extends layout

block content
  h1 Evernote Job Queue
  p This is an example Job Queueing web-service using Kue (Redis) and SQLite persistent storage.
  br
  div
    strong **There is a 10 second delay with every job to better show how processing occurs.**
  div
    strong **Due to limited time I did not include any testing.  By using the interfaces provided it would be relatively easy to create mocks with more time.**
  br

  h2 Technologies
  ul
    li Running in a t2.micro instance using AWS Lightsail
    li Source Repository can be found here: #[a(href="https://gitlab.com/austingreenkansas/evernote-job-queue/tree/master", target="_blank") 'https://gitlab.com/austingreenkansas/evernote-job-queue']
    li Built in Node.js and Express using TypeScript 2.0
    li Uses the Kue package to manage job concurrency in Redis
      ul
        li For these examples I will always use a temporary in-memory instance on the same machine.  In a production environment this would be separate.
    li Uses SQLite as the persistent store for completed jobs

  h2 Endpoints
  p You can view an interactive dashboard to view active/stalled/completed jobs at #[a(href="/queue", target="_blank") '/queue'].
  p Job endpoints:
  ul
    li #[strong GET] #[em "/job?url=http://www.example.com"] - Creates job to parse given url (should be a post, but is GET for easy testing from browser)
      ul
        li Expects 'url' parameter.
        li Example: #[em "/job?url=http://www.example.com"]
        li Response: If the url is valid you will receive an object similar to #[em {"jobId": "beeaed71-87ba-40d1-8d12-ab336a3f4fb1"}]
        li
          a(href="/job?url=http://austingreen.info", target="_blank") Click here to create a valid job (http://austingreen.info)
        li
          a(href="/job?url=thisshouldbeinvalid", target="_blank") Click here to create an invalid job
      br
    li #[strong GET] #[em "/job/:unique-job-id"] - View associated queueJob and status/result
      ul
        li Expects ':unique-job-id' url parameter.
        li Example: #[em "/job/beeaed71-87ba-40d1-8d12-ab336a3f4fb1"]
        li Response: If the url is valid you will receive an object similar to
      br
    li #[strong GET] #[em "/queue"] - View Kue dashboard with live updating

  h2 Discussion
  ul
    li Node.js
      ul
        li I chose to use Node.js since it is very easy to spin up a quick application using Express and
        | has excellent support for asynchronously accessing different storage mediums.
    li TypeScript 2.0
      ul
        li I chose TypeScript because of it's ability to easily include interface files using `@types/`
        | for code-completion and type checking across all of my libraries.
        li Additionaly, using TypeScript allowed me to write unit tests that test my business logic and
        | not worry about "piping" code.
    li Kue (Redis)
      ul
        li Kue is a utility that I have used in the past for simple job processing #[a(href="https://github.com/Automattic/kue", target="_blank") 'https://github.com/Automattic/kue']
        li Uses Redis as a store for jobs and their status/priority.
    li SQLite
      ul
        li I chose SQLite as my persistent store because it is very easy to manipulate using prepared statements.
        | Also, it doesn't require me to setup/configure a local Postgres or MySQL engine.
        li For this example, the Schema is a simple: #[em "uuid (TEXT), jobObject (TEXT), html (TEXT)"].

  h2 Screenshots
  p Create Job with Url validation
  img(src='/images/create-job-url-validation.png', width="750px")
  p Create Job Success
  img(src='/images/create-job-success.png', width="750px")
  p List Job Missing
  img(src='/images/list-job-missing.png', width="750px")
  p List Job Running
  img(src='/images/list-job-running.png', width="750px")
  p List Job Complete
  img(src='/images/list-job-complete.png', width="750px")
  p List Job Error
  img(src='/images/list-job-error.png', width="750px")
  p Queue Dashboard
  img(src='/images/queue-dashboard.png', width="750px")

